//dark-themed main colors
$colorDarkPrimary: #202124;
$colorDarkSecondary: #E8EAED;
$colorDarkTertiary:#41331C;

//light-themed main colors
$colorLightPrimary: #FFFFFF;
$colorLightSecondary: #202124;
$colorLightTertiary:#FEEFC3;


//dark-themed content colors
$colorDarkDefault:#202124;
$colorDarkRed:#5C2B29;
$colorDarkOrange:#614A19;
$colorDarkYellow:#635D19;
$colorDarkGreen:#345920;
$colorDarkTeal:#16504B;
$colorDarkBlue:#2D555E;
$colorDarkDarkBlue:#1E3A5F;
$colorDarkPurple:#42275E;
$colorDarkPink:#5B2245;
$colorDarkBrown:#442F19;
$colorDarkGray:#3C3F43;

//light-themed content colors
$colorLightDefault:#FFFFFF;
$colorLightRed:#F28B82;
$colorLightOrange:#FBBC04;
$colorLightYellow:#FFF475;
$colorLightGreen:#CCFF90;
$colorLightTeal:#A7FFEB;
$colorLightBlue:#CBF0F8;
$colorLightDarkBlue:#AECBFA;
$colorLightPurple:#D7AEFB;
$colorLightPink:#FDCFE8;
$colorLightBrown:#E6C9A8;
$colorLightGray:#E8EAED;